.MyPhoto{
    position: relative;
    width: 40vw;

}

.line-decoration{
    position: relative;
    width: 250px;
    height: 5px;
    margin-top: 5px;
    background-color: #FBBF00;
}

p.blackwin{
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin-top: 15%;
}

.boxblackwin{
    width: 100%;
    height: 400px;
    padding: 20px;
}

.BoxSocial {
     position: relative;
     width: 70px;
     height: 70px;
     background-color: rgb(38, 49, 116);
     border-radius: 10px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.5s;
  }
  
  .BoxSocial span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x))calc(12px * var(--y)));
  }
  
img.MyPhoto2 {
    position: relative;
    width: 50%;
    height: 100%;
    border: 5px solid #FBBF00;
    margin: 0 auto;
    display: block;
}

.Js-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/js.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.React-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/react.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Ts-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/Typescript.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Html-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/html.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Css-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/css.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.C-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/c++.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Bootstrap-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/bootstrap.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Php-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/php.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Git-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/git.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Svg-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/SVG_Logo.svg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Figma-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/figma.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Vsc-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/vsc.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}








