.MyPhoto{
    position: relative;
    width: 40vw;

}

.BoxSocial {
     position: relative;
     width: 70px;
     height: 70px;
     background-color: rgb(38, 49, 116);
     border-radius: 10px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.5s;
  }
  
  .BoxSocial span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x))calc(12px * var(--y)));
  }
  
img.MyPhoto2 {
    position: relative;
    width: 50%;
    border: 5px solid #FBBF00;
    margin: 0 auto;
    display: block;
    top: 50%;                        
    transform: translate(0, -50%);
}
.interests{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.AboutMe-Text{
    position: relative;
    margin-top: 30px;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
}


.CubeTech{
    position: relative;
    top: 40px;
    width: 160px;
    height: 160px;
    border: 7px solid #FBBF00;
    margin: 0 auto;
    transition: 1100ms;
}

.CubeTech:hover{
    transform: scale(1.32) rotate(360deg);
}

.CubeTech > div {
    top: 50%;                        
    transform: translate(0, 0%);
}

.TechBox{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.Js-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/js.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.React-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/react.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Ts-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/Typescript.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Html-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/html.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.Css-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/css.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.C-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/c++.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Bootstrap-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/bootstrap.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Php-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/php.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Git-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/git.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Svg-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/SVG_Logo.svg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Figma-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/figma.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Vsc-Tech{
    width: 150px;
    height: 150px;
    background: url(../icon/vsc.png);
    background-size: 100%;
    background-repeat: no-repeat;
}








