.MyPhoto{
    position: relative;
    width: 40vw;

}

.line-decoration{
    position: relative;
    width: 250px;
    height: 5px;
    margin-top: 5px;
    background-color: #FBBF00;
}

p.blackwin{
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin-top: 15%;
}

.boxblackwin{
    width: 100%;
    height: 400px;
    padding: 20px;
}

.BoxSocial {
     position: relative;
     width: 70px;
     height: 70px;
     background-color: rgb(38, 49, 116);
     border-radius: 10px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.5s;
  }
  
  .BoxSocial span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x))calc(12px * var(--y)));
  }
  
img.MyPhoto2 {
    position: relative;
    width: 50%;
    height: 100%;
    border: 5px solid #FBBF00;
    margin: 0 auto;
    display: block;
}

