*{
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.body{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
  }

  .col{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    min-width: 250px;
    height: auto;
}
.row{
    margin: 0 auto;
}

.col.picture{
    margin: 0;
    padding: 15px;
    min-height: 400px;
    height: auto;
    margin-top: 25px;
}

.cubesection{
    z-index: 0;
    position: absolute;
    min-height: 100px;
    top: -30px;
    left: -30px;
    width: 200px;
    height: 200px;
    background-color: #FBBF00;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

section{
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
   
}

.BoxSection{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 1;
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
}


.TechPicutre {
    background-image: url('../picture/space.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

.starstyle{
    position: relative;
    width: 450px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

h1{
    margin-left: 20px;
    padding: 30px;
}

h3{
    position: relative;
    margin: 50px 0px 0px 30px;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 35px;
}
h3.textcube{
    color: rgb(255, 255, 255);
}
h4{
    margin-top: -20px;
}
h5{
    font-size: 20px;
}
.BoxProjectText p{
    font-size: 12px;
}

@keyframes SkyText {
    0%{
        height: 0;
    }
  
    100%{
        opacity: 1;
        height: 400px;
    }
      
  }

