
@media only screen and (max-width: 2075px) {
.BoxMain{
  min-height: 700px;
}
#FlyModel{
  height: 300px;
}


}
@media only screen and (max-width: 1830px) {
  .test-box2{
    width: auto;
    height: 400px;
  }
}

@media only screen and (max-width: 1610px) {
  .test-box{
    width: auto;
    height: 400px;
  }
  .test-box1{
    width: auto;
    height: 400px;
  }
  .test-box2{
    width: auto;
    height: 300px;
  }

}
@media only screen and (max-width: 1225px) {
  .col-8,.col-4{
   width: 100%;
}
}

@media only screen and (max-width: 850px) {
  #HelloLogo{
    width: 170px;
    position: absolute;
    top: 140px;
    left: 135px;
    transform: translate(-50%,-50%);
  }
  #NameLogo{
    width: 400px;
    position: absolute;
    top: 170px;
    left: 50px;
  }
  img.MyPhoto2 {
    position: relative;
    width: 70%;
    border: 5px solid #FBBF00;
    margin: 0 auto;
    display: block;
    top: 50%;                        
    transform: translate(0, -50%);
}
}

@media only screen and (max-width: 600px) {
.Body{
width: 100%;
margin: 0px;
box-shadow: none;
}
.menu {
    margin-left: 10px; 
  }

.starstyle{
position: relative;
width: 350px;
height: 200px;
margin: 0 auto;
display: block;
margin-top: 50px;
margin-bottom: 50px;
}

#HelloLogo{
  width: 160px;
  position: absolute;
  top: 120px;
  left: 130px;
  transform: translate(-50%,-50%);
}
#NameLogo{
  width: 400px;
  position: absolute;
  top: 140px;
  left: 50px;
}

#ComputerSVG{
  position: relative;
  width: 100%;
  height: 100%;
}

.col-4 > .test-box1:hover #FlyModel{
  transform: scale(1);
}  

#FlyModel{
  transition: 0.3s all linear;
  width: 100%;
  
}

section{
    min-height: 700px;
    width: 85%;
}

.ContainerProject{
  width: 97%;
  margin-left: 0px;
  margin-right: 0px;
}

.boxblackwin{
height: 200px;
padding: 25px;
}

.containerCube {
top: 100px;
height: 300px;
}
p.blackwin{
color: white;
font-size: 16px;
margin-top: 15%;
}
.MyPhoto  {
position: relative;
width: 350px;
padding: 10px;
left: 0px;
top: -150px;
}
.Technologies {
background-size: auto;
}

.CircleAnimation{
margin-left: 2px;
}

.BoxSocial a > div{
width: 50px;
height: 50px;
margin-left: -50px;
}
.SocialPicture{
width: 50px;
height: 50px;
}
.col.picture > div:hover{
transition: 0.3s all linear;
transform: scale(1.08);
z-index: 5;
}
.col.picture > div {
  z-index: 2;
  margin: 50px;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 0px 34px -18px rgb(0 0 0);
  display: block;
  margin: 0 auto;
  position: relative;
  transition: 0.3s all linear;
  border: 3px solid #FBBF00;
}

.BoxSectionTech > .row > .col{
  min-width: 150px;
}
.col-8 > .test-box{
  padding: 0px;
}
.test-box > .PictureBox1{
  background-size: 150%;
}

}

@media only screen and (max-width: 575px) {

  #HelloLogo{
    width: 140px;
    position: absolute;
    top: 120px;
    left: 90px;
    transform: translate(-50%,-50%);
  }
  #NameLogo{
    width: 350px;
    position: absolute;
    top: 140px;
    left: 20px;
  }
  .test-box > .PictureBox1{
    position: relative;
    filter: brightness(95%);
    width:100%;
    height:100%;
    object-fit:cover;
    background: url("../picture/FirstBoxSectionPicture.jpg");
    background-size: 190%;
    background-repeat: no-repeat;
    transition: filter 800ms;
}

.CubeTech{
  position: relative;
  top: 30px;
  width: 130px;
  height: 130px;
  border: 7px solid #FBBF00;
  margin: 0 auto;
  transition: 1100ms;
}

.CubeTech > div {
  margin: 0 auto;
  width: 110px;
  height: 110px;
}
.col p {
  padding-left: 10px;
  width: 95%;
}

}

@media only screen and (max-width: 480px) {
  #HelloLogo{
    width: 140px;
    position: absolute;
    top: 120px;
    left: 90px;
    transform: translate(-50%,-50%);
  }
  #NameLogo{
    width: 310px;
    position: absolute;
    top: 140px;
    left: 20px;
  }

}