
#HelloLogo{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 220px;
    transform: translate(-50%,-50%);
}

#HelloLogo path:nth-child(2){
    stroke-dasharray: 215px;
    stroke-dashoffset: 215px;
    animation: line-anim 2s ease forwards 1s;
}
#HelloLogo path:nth-child(3){
    stroke-dasharray: 145px;
    stroke-dashoffset: 145px;
    animation: line-anim 2s ease forwards 1.3s;
}
#HelloLogo path:nth-child(4){
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: line-anim 2s ease forwards 1.6s;
}
#HelloLogo path:nth-child(5){
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: line-anim 2s ease forwards 1.9s;
}
#HelloLogo path:nth-child(6){
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: line-anim 2s ease forwards 2.2s;
}

#HelloLogo path:nth-child(7){
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: line-anim 2s ease forwards 2.5s;
}
#HelloLogo path:nth-child(8){
    stroke-dasharray: 85px;
    stroke-dashoffset: 85px;
    animation: line-anim 2s ease forwards 2.8s;
}
#HelloLogo path:nth-child(9){
    stroke-dasharray: 265px;
    stroke-dashoffset: 265px;
    animation: line-anim 2s ease forwards 3.1s;
}


        #NameLogo{
            position: absolute;
            top: 40%;
            left: 105px;
        }
        #NameLogo path:nth-child(2){
            stroke-dasharray: 398px;
            stroke-dashoffset: 398px;
            animation: line-anim 2s ease forwards 1s;
        }
        #NameLogo path:nth-child(3){
            stroke-dasharray: 172px;
            stroke-dashoffset: 172px;
            animation: line-anim 2s ease forwards 1.3s;
        }
        #NameLogo path:nth-child(4){
            stroke-dasharray: 182px;
            stroke-dashoffset: 182px;
            animation: line-anim 2s ease forwards 1.6s;
        }
        #NameLogo path:nth-child(5){
            stroke-dasharray: 100px;
            stroke-dashoffset: 100px;
            animation: line-anim 2s ease forwards 1.9s;
        }
        #NameLogo path:nth-child(6){
            stroke-dasharray: 168px;
            stroke-dashoffset: 168px;
            animation: line-anim 2s ease forwards 2.2s;
        }
        #NameLogo path:nth-child(7){
            stroke-dasharray: 130px;
            stroke-dashoffset: 130px;
            animation: line-anim 2s ease forwards 2.5s;
        }


        #NameLogo path:nth-child(8){
            stroke-dasharray: 225px;
            stroke-dashoffset: 225px;
            animation: line-anim 2s ease forwards 2.8s;
        }
        #NameLogo path:nth-child(9){
            stroke-dasharray: 121px;
            stroke-dashoffset: 121px;
            animation: line-anim 2s ease forwards 3.1s;
        }
        #NameLogo path:nth-child(10){
            stroke-dasharray: 198px;
            stroke-dashoffset: 198px;
            animation: line-anim 2s ease forwards 3.4s;
        }
        #NameLogo path:nth-child(11){
            stroke-dasharray: 195px;
            stroke-dashoffset: 195px;
            animation: line-anim 2s ease forwards 3.7s;
        }
        #NameLogo path:nth-child(12){
            stroke-dasharray: 174px;
            stroke-dashoffset: 174px;
            animation: line-anim 2s ease forwards 4.1s;
        }
        #NameLogo path:nth-child(13){
            stroke-dasharray: 275px;
            stroke-dashoffset: 275px;
            animation: line-anim 2s ease forwards 4.4s;
        }
        #NameLogo path:nth-child(14){
            stroke-dasharray: 211px;
            stroke-dashoffset: 211px;
            animation: line-anim 2s ease forwards 4.7s;
        }
        #NameLogo path:nth-child(15){
            stroke-dasharray: 223px;
            stroke-dashoffset: 223px;
            animation: line-anim 2s ease forwards 5s;
        }
        #NameLogo path:nth-child(16){
            stroke-dasharray: 95px;
            stroke-dashoffset: 95px;
            animation: line-anim 2s ease forwards 5.3s;
        }

@keyframes line-anim{
    to{
        stroke-dashoffset: 0px;
    }
}