
.custom-shape-divider-bottom-1645791411 {
    position: relative;
    bottom: 95px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645791411 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1645791411 .shape-fill {
    fill: #ffffff;
}
